@import "./theme.css";
@import "./neutrals.css";
* {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	background: var(--gray30);
	color: var(--gray190);
	fill: var(--gray190);
	stroke: var(--gray190);
	margin: 0;
}

.wait {
	cursor: wait !important;
}

a {
	color: var(--themePrimary);
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

.status {
	position: absolute;
	top: 10%;
	left: calc(40% - 100px);
	width: 200px;
	margin: auto;
	background-color: var(--themeDarker);
	color: var(--white);
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 4px 8px var(--gray160);
}

/* tables */

table {
	width: 100%;
	border-collapse: collapse;
}

tbody {
	overflow-y: scroll;
	overflow-x: scroll;
}

td {
	padding: 8px 4px;
	vertical-align: top;
	font-size: medium;
}

td.list {
	vertical-align: middle;
	white-space: nowrap;
}

.hidden {
	display: none;
}

.center {
	text-align: center;
}

.middle {
	vertical-align: middle;
}

/* inputs */

input {
	background-color: var(--gray20);
	color: var(--gray190);
	border: 1px solid var(--gray190);
	height: 1.4rem;
	font-size: 1rem;
	border-radius: 2px;
}

input:focus {
	outline: none !important;
	border: 1px solid var(--themePrimary);
}

input:focus+label {
	color: var(--themePrimary);
}

input:disabled {
	background-color: var(--gray60);
}

select {
	background-color: var(--gray20);
	color: var(--gray190);
	border: 1px solid var(--gray190);
	font-size: 1em;
	height: 1.6em;
	border-radius: 2px;
}

select:focus {
	outline: none !important;
	border: 1px solid var(--themePrimary);
}

option {
	font-size: 1em;
	background-color: var(--gray20);
	color: var(--gray190);
}

button {
	color: var(--white);
	background: var(--themePrimary);
	border: 1px solid var(--themePrimary);
	border-radius: 2px;
	font-size: 1em;
	text-align: center;
	margin: 4px;
	padding: 4px 8px;
	white-space: nowrap;
}

button:focus {
	outline: none !important;
	background: var(--themeDarkAlt);
}

button:hover {
	background: var(--themeDarkAlt);
	border: 1px solid var(--themeDarkAlt);
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.14, 0.71, 0.38, 1);
	transition-delay: 0s;
}

.row {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 0;
}

.toprow {
	display: flex;
	flex-direction: row;
	background-color: var(--gray50);
	width: 100%;
	padding: 0;
	margin: 0px;
}

label {
	padding-left: 4px;
	padding-right: 4px;
}

.column {
	display: flex;
	flex-direction: column;
}

.fill_width {
	width: 100%;
}

.noWrap {
	white-space: nowrap;
}

.buttonArea {
	display: flex;
	flex-direction: row;
	padding: 10px;
	padding-left: 16px;
	padding-right: 16px;
	justify-content: flex-end;
}

.toprow a {
	color: inherit;
	fill: inherit;
	stroke: inherit;
}

.toprow a svg {
	margin-top: 6px;
	color: var(--gray160);
	fill: var(--gray160);
	stroke: var(--gray160);
}

.toprow a:hover {
	color: var(--themePrimary);
	text-decoration: none !important;
}

svg {
	fill: var(--black);
	stroke: var(--black);
	stroke-width: 0.3;
}

.padded {
	padding-right: 4px;
	padding-left: 4px;
}

/* tabs */

.tabHolder {
	display: flex;
	flex-flow: row;
	color: var(--black);
	margin: 0;
	padding: 0px 0px 0px 8px;
}

.tab {
	overflow: hidden;
	background: var(--gray50);
	color: var(--gray150);
	fill: var(--gray150);
	stroke: var(--gray150);
	padding: 8px 16px;
	margin: 0;
	vertical-align: middle;
	box-shadow: none !important;
	text-decoration: none !important;
	white-space: nowrap;
}

.selectedTab {
	background: var(--gray30);
	color: var(--black);
	border-left: 1px solid var(--gray60) !important;
	border-right: 1px solid var(--gray60) !important;
}

.tab:hover {
	color: var(--black);
	fill: var(--black);
	stroke: var(--black);
}

.selectedTab:hover {
	color: var(--black);
	fill: var(--black);
	stroke: var(--black);
}

.tab a {
	padding-left: 8px !important;
	padding-right: 8px !important;
	color: inherit;
	fill: inherit;
	stroke: inherit;
	text-decoration: none;
	cursor: pointer;
}

.tab a:hover {
	color: inherit;
	fill: inherit;
	stroke: inherit;
}

.tabContent {
	display: block;
	padding-top: 8px;
	padding-left: 8px;
	padding-right: 8px;
}

.hiddenTab {
	display: none;
}