:root {
    --themeDarker: #003e73;
    --themeDark: #0056a3;
    --themeDarkAlt: #2176c7;
    --themePrimary: #0067b8;
    --themeSecondary: #338eda;
    --themeTertiary: #a3c7ee;
    --themeLight: #e3eef9;
    --themeLighter: #f1f6fb;
    --themeLighterAlt: #f7fafd;
}