/.project
/bin/
/catalog/
/conf/
/include/
/legal/
/lib/
/node_modules/
/srx/
/xmlfilter/
/release
/xliffmanager-darwin-x64/
/xliffmanager-win32-x64/
/.settings/
/.scannerwork/
.DS_Store
sonar-project.properties
sonarqube.sh
package-lock.json
