/.project
/bin/
/catalog/
/conf/
/include/
/legal/
/lib/
/node_modules/
/srx/
/xmlfilter/
/release
/XLIFF Manager-darwin-x64/
/XLIFF Manager-win32-x64/
/XLIFF Manager-linux-x64/
/.settings/
/.scannerwork/
/docs/out/
.DS_Store
sonar-project.properties
sonarqube.sh
package-lock.json
