/js/
/bin/
/conf/
/include/
/legal/
/lib/
/node_modules/
/man/
/out/
/docs/out/
/release
/XLIFF Manager-darwin-x64/
/XLIFF Manager-darwin-arm64/
/XLIFF Manager-win32-x64/
/XLIFF Manager-linux-x64/
/.settings/
/.scannerwork/
/.vscode/
.DS_Store
package-lock.json